Flightlog-Console/obj/
Flightlog-Console/bin/
Flightlog-Common/obj/
Flightlog-Common/bin/
Flightlog-Web/obj/
Flightlog-Web/bin/
Flightlog-Common/packages/
packages/

Flightlog-Web/flightlog-app/node_modules/
Flightlog-Web/flightlog-app/**/*.js
Flightlog-Web/flightlog-app/**/*.js.map
.vs/
